<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h1><%= @user.name %></h1>
<h4>"GUILD : <%= @user.guild_id %>"</h4>
<h4>"BANNED : <%= @user.banned %>"</h4>
<h4>"STATUS : <%= @user.status %>"</h4>
<h4>"ADMIN : <%= @user.admin %>"</h4>

<%= link_to 'Remove', @user, method: :'delete', data: { confirm: 'Are you sure?' } %>